<header class="header">
    <div class="wrapper header__container">
        <div class="header__top">
            <div class="header__left">
                <a href="tel:89991203378" class="header__link link-phone">
                    <img src="../static/img/content/phone.png" alt="">
                    8-999-120-33-78
                </a>
                <a href="#" class="header__link link-mail">
                    <img src="../static/img/content/mail.png" alt="">
                    89527876717@mail.ru
                </a>
            </div>
            <div class="header__right">
                

                
                <div class="header-mobile-container">
                    <div class="search-desctop-container">
                        <!-- <form action="#" class="search search-mobile">
                            <input name="search" class="search__field m-field" placeholder="поиск">
                            <button class="search__button">
                                <img src="../static/img/content/search.png" class="button-open" alt="">
                            </button>
                        </form> -->
                        <form action="#" class="search seacrh-mobile">
                            <input name="search" class="search__field m-field" placeholder="поиск">
                            <button class="search__button">
                                <img src="../static/img/content/search.png" class="button-open" alt="">
                            </button>
                        </form> 
                    </div>

                    <div class="search_mobile">
                        <div class="search_mobile__open seacrh-open">
                            <img src="../static/img/content/search.png" class="button-open" alt="">
                        </div>
                        <div class="search_mobile__container">

                        </div>
                    </div>
                    
                    <div class="header__basket">
                        <a href="#">
                            <img src="../static/img/content/basket.png" alt="">
                        </a>
                        <div class="basket-index"></div>
                    </div>
                </div>
                
                <div class="sign-container-1">
                    <div class="sign">
                        <div class="sign__icon">
                            <img src="../static/img/content/sign.png" alt="">
                        </div>
    
                        <div class="sign__right">
                            <a href="#" class="sign__sign">Войти</a>
                            <a href="#" class="sign__reg">Регистрация</a>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

        <div class="header__menu">
            <div class="wrapper">

                
                <a href="index.html" class="header__menu-logo">
                    
                    <img src="%=static=%img/content/logo3.png" alt="">
                </a>

                

                <div class="humburger">
                    <div class="humburger-open">
                        {{Icon iconName="humb"}}
                    </div>

                    <div class="header-mobile-container-1">
                    </div>

                    <div class="header__menu-all">
                        <div class="sign-container"></div>
    
                        <div  class="header__menu-link callDrop">
                            <div class="call-link" data-href="product.html">
                                в наличии
                            </div>
                            
                            <div class="drop">
                                <div class="drop__column">
                                    <a href="#" class="drop__title">
                                        трикотаж
                                    </a>
        
                                    <div class="drop__items">
                                        <a href="#" class="drop__item">
                                            Футер 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кулирка 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Рибана 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Интерлок     
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кашкорсе 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Бифлекс 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Песлрен 
                                        </a>
                                    </div>
        
        
                                </div>
                                
                                <div class="drop__column">

                                    <a href="#" class="drop__title">
                                        трикотаж
                                    </a>

                                    <div class="drop__items">
                                        <a href="#" class="drop__item">
                                            Футер 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кулирка 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Рибана 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Интерлок     
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кашкорсе 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Бифлекс 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Песлрен 
                                        </a>
                                    </div>
        
        
                                </div>
                                <div class="drop__column">
                                    <a href="#" class="drop__title">
                                        трикотаж
                                    </a>
        
                                    <div class="drop__items">
                                        <a href="#" class="drop__item">
                                            Футер 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кулирка 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Рибана 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Интерлок     
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кашкорсе 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Бифлекс 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Песлрен 
                                        </a>
                                    </div>
        
        
                                </div>
                                
                            </div>
                        </div >
                        <div data-href="product.html" class=" header__menu-link callDrop callDrop-1">
        
                            <div class="call-link" data-href="product.html">
                                    предзаказ
                            </div>
                            
                            <div class="drop">
        
                                <div class="drop__column">
                                    <div class="drop__title">
                                        трикотаж
                                    </div>
        
                                    <div class="drop__items">
                                        <a href="#" class="drop__item">
                                            Футер 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кулирка 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Рибана 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Интерлок     
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кашкорсе 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Бифлекс 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Песлрен 
                                        </a>
                                    </div>
        
        
                                </div>
                                <div class="drop__column">
                                    <div class="drop__title">
                                        трикотаж
                                    </div>
        
                                    <div class="drop__items">
                                        <a href="#" class="drop__item">
                                            Футер 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кулирка 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Рибана 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Интерлок     
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кашкорсе 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Бифлекс 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Песлрен 
                                        </a>
                                    </div>
        
        
                                </div>
                                <div class="drop__column">
                                    <div class="drop__title">
                                        трикотаж aa
                                    </div>
        
                                    <div class="drop__items">
                                        <a href="#" class="drop__item">
                                            Футер 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кулирка 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Рибана 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Интерлок     
                                        </a>
                                        <a href="#" class="drop__item">
                                            Кашкорсе 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Бифлекс 
                                        </a>
                                        <a href="#" class="drop__item">
                                            Песлрен 
                                        </a>
                                    </div>
        
        
                                </div>
                                
                            </div>
                        </div>
        
                        <a href="map.html" class=" header__menu-link">условия сотрудничества</a>
                        <a href="paymment.html" class=" header__menu-link">доставка</a>
                        <a href="news.html" class=" header__menu-link">о компании</a>
                        <div class="menu-open">
                            {{Icon iconName="more"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>